/*HEADER*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    z-index: 999;
 }
 .header .header-logo{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
 }
  .header .header-menu{
   float: right;
   margin-right: 30px;
   
  }
   .header .header-menu a{
    margin-right: 15px;
    color: #FFFFFF;
    
   }
   .header .header-menu a:hover{
     color: #f1c40f;
    
   }
   /*BANNER*/
   .banner {
     margin-top:-25px;
   }
   .banner .banner-img{
    position: relative;
   }
   .banner .banner-content{
    position: absolute;
    width: 100%;
    text-align: center;
    top:30%;
   }
   .banner .banner-content h1,
   .banner .banner-content h2{
    color:#FFFFFF;
   }
   
   .post {
  position: relative;
  padding: 20px;
  flex-basis: auto;
}

.post__category {
  font-size: .8rem;
  text-transform: uppercase;
}

.post__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px 0 10px;
}

.post__content {
  font-size: 1.3rem;
  margin-bottom: 50px;
  
}

.post__category,
.post__permalink {
  color: #4a4a4a;
  text-decoration: underline;
}

.post__permalink {
  position: absolute;
  bottom: 20px;
}

.fb-auto {
  flex-basis: auto;
}

.pink {
  background: #ffdae0;
}

.gray {
  background: #e7f0da;
}

.green {
  background: #ddebd0;
}

.gold {
  background: #fcf5b6;
}

.blue {
  background: #cae9ef;
}

.red {
  background: #f8c9c1;
}
